<br/><br/>
<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-4">
			
          <p>&copy 2020 - present Gelsight Lab.  
          <p>We are a part of the MIT Computer Science and Artificial
              Intelligence Lab (CSAIL) and the MIT Brain and Cognitive
              Sciences Department.
          </p>
		   <p>  
            Forked from <a href=
              "https://github.com/mpa139/allanlab">Allan Lab</a>. 
              See <a href="{{ site.url }}{{ site.baseurl
              }}/aboutwebsite.html">here</a> for info.</p> 
          </p>

            
		</div>
		<div class="col-sm-4">
		  Funding:<br />
		  - MIT CSAIL <br />
          - Toyota Research Institute </br>
		</div>

		<div class="col-sm-4">
		  Contact:<br />
          Building 32 Stata Center, MIT
		  32-311<br />
		  Cambridge, MA 02138<br />
		  USA<br />
            (<a href="https://goo.gl/maps/a13muh1CjuGTwWn98">Maps</a>, 
            <a href="https://groups.csail.mit.edu/ana/directions.to.csail.html">Directions</a>)
		</div>
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
